.container {
    margin-bottom: 40px;
}

.heading {
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.description {
    font-size: 20px;
}