.heading {
  font-size: 32px;
}

li{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-card-container {
  height: 350px;
  width: 350px;
  margin: 10px;
  border: none;
  box-shadow: 2px;
  background-color: rgb(239, 236, 233);
  text-align: start;
}

.image {
  height: 200px;
  width: 350px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}

.date {
  font-size: 18px;
  padding-left: 10px;
}

.time {
  padding-left: 10px;
  font-size: 18px;
}