.header-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 20px;
  width: 100%;
}

.upper-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("https://cache.careers360.mobi/media/article_images/2019/5/21/Exam-patern_860x430.jpg");
  background-size: cover;
}

.left-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:15px;
  margin-top: 30px;
  margin-right: 50px;
}

.logo {
  width: 250px;
  height: 150px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.logo-heading {
  font-family: "Roboto";
  font-size: 50px;
  color: #000000;
  font-weight: 700;
  padding-top: 20px;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 120px;
}

.right-header-text {
  margin-left: 25px;
  margin-top:30px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.login-button {
  width: 110px;
  height: 40px;
  margin: 20px;
  margin-right: 50px;
  color: #ffffff;
  background-color: orange;
  font-size: 20px;
  border: none;
}

.lower-header-container {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  color: #ffffff;

}

.header-search-icon {
  height: 15px;
  width: 15px;
  margin-top: 28px;
  margin-right: 10px;
}

.header-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.lower-header-text {
  font-family: 18px;
  font-size: 20px;
} 

.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}

.form-heading {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}
.label {
  font-size: 20px;
  padding-bottom: 20px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
}

.submit-button {
  width: 120px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  background-color: #0080ffcb;
  color: white;
  font-size: 20px;
  border: none;
  align-items: center;
  margin-left: 100px;
}

.form-text {
  font-size: 14px;
  text-align: center;
}

.register-form-heading {
  font-size: 20px;
  text-align: center;
  padding-top: 0;
}
.register-label {
  font-size: 14px;
  padding-bottom: 10px;
}

.register-input {

  margin-bottom: 10px;
  padding: 2px;
  width: 300px;
}

.register-submit-button {
  width: 100px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  background-color: #0080ffcb;
  color: white;
  font-size: 16px;
  border: none;
  align-items: center;
  margin-left: 100px;
}

